<div class="header__menu-container">
  <nav class="header__nav">
    <ul class="header__menu" [class.active]="showBurgerMenu">
      @for(link of links; track link){
      <li>
        <a
          class="header__link"
          [routerLink]="link.url"
          routerLinkActive="active"
          >{{ link.label }}</a
        >
      </li>
      }
    </ul>
  </nav>

  <div class="header__social-account">
    <div class="header__social-icons">
      <ul class="header__icons-list">
        @for(icon of icons; track icon){
        <li>
          <a
            class="header__icons-link"
            [routerLink]="icon.url"
            routerLinkActive="active"
          >
            <svg width="40" height="40">
              <use [attr.href]="icon.iconSrc"></use>
            </svg>
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="header__account">
      <a class="header__user-link" [routerLink]="account.url">
        <img
          [attr.src]="account.accountSrc"
          width="33.81"
          height="35.15"
          alt="Account"
        />
      </a>

      <a class="header__user-login" [routerLink]="login.url">
        {{ login.label }}
      </a>
    </div>
  </div>
</div>
