<div class="header__menu-container">
  <nav class="header__nav">
    <ul class="header__menu" [class.active]="showBurgerMenu">
      <li *ngFor="let link of links">
        <a class="header__link" [href]="link.url">{{ link.label }}</a>
      </li>
    </ul>
  </nav>

  <div class="header__social-account">
    <div class="header__social-icons">
      <ul class="header__icons-list">
        <li *ngFor="let icon of icons">
          <a class="header__icons-link" [href]="icon.url">
            <svg width="40" height="40">
              <use [attr.href]="icon.iconSrc"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="header__account">
      <a class="header__user-link" [href]="account.url">
        <img
          [src]="account.accountSrc"
          width="33.81"
          height="35.15"
          alt="Account"
        />
      </a>

      <a class="header__user-login" [href]="login.url">{{ login.label }}</a>
    </div>
  </div>
</div>
