<section class="subtitle-section">
  <h2 class="subtitle-section__title">{{ subTitle1.label }}</h2>

  <p class="title-section__paragraph">{{ paragraph.text }}</p>

  <p class="subtitle-section__violet-block">{{ violetBlock.text }}</p>

  @for(accent of blackAccent; track accent){
  <p class="title-section__paragraph">
    <span class="subtitle-section__black-accent">{{ accent.text }}</span
    >{{ accent.dynamicText.text }}
  </p>
  }

  <h2 class="subtitle-section__title">{{ subTitle2.label }}</h2>

  <p class="title-section__paragraph">{{ dynamicParagraph.text }}</p>
</section>
