.title-section__title {
  margin-top: 2.2222rem;
  margin-bottom: 2.7778rem;
  font-size: 2.7778rem;
  font-weight: 900;
  text-align: left;
  letter-spacing: -2px;
}

.title-section__paragraph {
  margin-bottom: 1.3889rem;
}

@media screen and (max-width: 1440px) {
  .title-section__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .title-section__title {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title-section__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .title-section__title {
    text-align: center;
  }

  .title-section__paragraph {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .title-section__title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .title-section__title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  .title-section__title {
    font-size: 1.1rem;
  }
}
