.header__button {
  width: 100%;
  height: 6.1111rem;
  padding: 2.3889rem 2.3889rem 2.3889rem 2.2222rem;
  border: #ffd364;
  border-radius: 4.2778rem;
  background-color: #ffd364;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6111rem;
}

.header__button-link {
  min-width: 7rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1740px) {
  .header__button {
    padding: 2.3889rem 1.5rem;
  }
}

@media screen and (max-width: 1430px) {
  .header__button {
    padding: 2.3889rem 1rem;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .header__button {
    padding: 1rem 3.7rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 1090px) {
  .header__button {
    padding: 1rem 3rem;
    width: 15rem;
  }
  .header__button-link {
    margin-left: -1.5rem;
  }
  .header__icon-eyes {
    margin-right: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .header__button {
    width: 30rem;
    padding: 1rem 7rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .header__button-link {
    margin-left: 2rem;
  }
  .header__icon-eyes {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 570px) {
  .header__button {
    width: 22rem;
    padding: 1rem 4.5rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .header__button {
    width: 17rem;
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .header__button {
    width: 16.5rem;
  }
}
