<div class="slider">
  @for(image of images; track $index){
  <div
    class="slider-items"
    [ngClass]="{
      'slider-show': showSlider,
      'slider-hide': !showSlider
    }"
  >
    @if($index === currentIndex){
    <img [src]="image.src" [alt]="image.alt" />}
  </div>
  }

  <a class="slider__prev" (click)="prevSlide()">
    <svg width="70" height="70">
      <use [attr.href]="prevArrowIconPath"></use>
    </svg>
  </a>

  <a class="slider__next" (click)="nextSlide()">
    <svg width="70" height="70">
      <use [attr.href]="nextArrowIconPath"></use>
    </svg>
  </a>

  <div class="slider__strips">
    @for(image of images; track $index){
    <span
      class="strip"
      (click)="goToSlide($index)"
      [class.active]="$index === currentIndex"
    ></span>
    }
  </div>
</div>
