.subtitle-section__list {
  margin-bottom: 8.4444rem;
}

.subtitle-section__list .subtitle-section-item {
  background-size: 0.4444rem 0.4444rem;
  background-repeat: no-repeat;
  padding-left: 1.1111rem;
  background-position: 0.0556rem 0.5556rem;
  list-style: none;
}
