.footer {
	width: 100%;
	max-width: 95rem;
}

.footer__container {
	max-width: 100%;
	height: 13.6667rem;
	border-radius: 4.2778rem;
	margin: 0 auto;
	margin-bottom: 3.0556rem;
	background-color: #ffffff;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1740px) {
	.footer {
		max-width: 77rem;
	}
}

@media screen and (max-width: 1440px) {
	.footer__container {
		max-width: 74rem;
	}
}
@media screen and (max-width: 1360px) {
	.footer__container {
		max-width: 65rem;
	}
}

@media screen and (max-width: 1280px) {
	.footer__container {
		max-width: 59rem;
	}
}

@media screen and (max-width: 1090px) {
	.footer__container {
		max-width: 51.5rem;
	}
}

@media screen and (max-width: 1024px) {
	.footer__container {
		max-width: 48.3rem;
	}
}

@media screen and (max-width: 995px) {
	.footer__container {
		max-width: 42rem;
	}
}

@media screen and (max-width: 768px) {
	.footer__container {
		max-width: 30rem;
	}
}

@media screen and (max-width: 570px) {
	.footer__container {
		max-width: 23rem;
	}
}

@media screen and (max-width: 425px) {
	.footer__container {
		max-width: 17rem;
		height: 17rem;
	}

	@media screen and (max-width: 375px) {
		.footer__container {
			max-width: 16rem;
		}
	}
}
