.header__logo {
  width: 100%;
  height: 6.1111rem;
  border-radius: 4.2778rem;
  padding: 0.9444rem 4.4444rem;
  background-color: #ffd364;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__burger,
.header__menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1740px) {
  .header__logo {
    padding: 0.9444rem 4rem;
  }
}

@media screen and (max-width: 1430px) {
  .header__logo {
    padding: 0.9444rem 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .header__logo {
    padding: 1rem 3.9rem;
  }

  .header__burger {
    display: block;
    border: none;
    padding-right: 55px;
    position: relative;
  }

  .header__burger.active {
    background-color: transparent;
  }

  .header__menu {
    display: block;
    width: 11rem;
    height: 16rem;
    top: 6.3rem;
    left: 4.2rem;
    background-color: #ffd364;
    border: 3px solid #ebff76;
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
  }
  .header__menu {
    display: none;
  }

  .header__menu.active {
    display: flex;
  }

  .header__menu .header__link {
    padding-top: 1.3rem;
    padding-left: 3rem;
    max-height: 3rem;
  }

  .header__link {
    text-decoration: none;
    color: inherit;
    font-size: 1.1111rem;
    font-weight: 500;
    display: flex;
  }

  .header__link:hover {
    font-weight: 700;
  }
}
@media screen and (max-width: 1090px) {
  .header__logo {
    width: 16rem;
  }
  .header__menu {
    left: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__menu {
    left: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 30rem;
    padding: 1rem 7rem;
    display: flex;
    justify-content: center;
  }

  .header__menu {
    position: absolute;
    left: 10.5rem;
  }
}

@media screen and (max-width: 570px) {
  .header__logo {
    width: 22rem;
    padding: 1rem 3.5rem;
  }
  .header__menu {
    position: absolute;
    left: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 17rem;
    display: flex;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    width: 16.5rem;
  }
}
