<div class="header__logo">
  <nav class="header__nav">
    <ul class="header__menu" [class.active]="showBurgerMenu">
      @for(link of links; track link){
      <li>
        <a
          class="header__link"
          [routerLink]="link.url"
          routerLinkActive="active"
          >{{ link.label }}
        </a>
      </li>
      }
    </ul>
  </nav>

  <button
    class="header__burger active"
    type="button"
    (click)="toggleBurgerMenu()"
  >
    <svg width="40" height="40">
      <use [attr.href]="burgerPath"></use>
    </svg>
  </button>

  <a class="header__logo-text" href="/project/browser/">
    <img [attr.src]="logoUrl" alt="Logo" />
  </a>
</div>
