.update-section {
	margin-top: 1.8889rem;
	display: flex;
	justify-content: center;
	gap: 41.6667rem;
}

.update-section__date {
	font-size: 0.7778rem;
	font-weight: 400;
	line-height: 1.1;
	color: #d9aeff;
}

.update-section__system {
	width: 7.8889rem;
	height: 1.3333rem;
	border-radius: 5rem;
	background-color: #d9aeff;
}

.update-section__title {
	font-size: 0.6667rem;
	font-weight: 700;
	line-height: 1.3;
	color: #ebff76;
	padding: 0.2222rem 0.4444rem;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1440px) {
	.update-section {
		margin-top: -5rem;
		display: flex;
		gap: 20rem;
	}
}

@media screen and (max-width: 1024px) {
	.update-section {
		margin-top: -9rem;
		display: flex;
		gap: 10rem;
	}
}

@media screen and (max-width: 768px) {
	.update-section {
		margin-top: -13rem;
		gap: 6rem;
	}
	.update-section__system {
		min-width: 9rem;
	}
}

@media screen and (max-width: 570px) {
	.update-section {
		margin-top: -17rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}
}

@media screen and (max-width: 425px) {
	.update-section {
		margin-top: -19rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	.update-section__system .update-section__title {
		font-size: 0.6111rem;
		display: flex;
		flex-wrap: nowrap;
	}
}

@media screen and (max-width: 375px) {
	.update-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.update-section__date {
		margin-top: -2rem;
	}

	.update-section__system {
		min-width: 7rem;
		height: 1rem;
		margin-top: 1rem;
		margin-left: -8rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 375px) {
	.update-section__system,
	.update-section__date {
		margin: 0 auto;
	}
}
